<!doctype html>
<html>
<head>
    <title>OpenXC Vehicle Simulator</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static',
filename='style.css') }}">

    <script src="{{ url_for('static', filename='jquery-1.9.1.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-ui.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui.css') }}" />

    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

    <script src="{{ url_for('static', filename='simulator_scripts.js') }}"></script>

</head>
<body>
    <div class=page>
        <h1>OpenXC Vehicle Simulator</h1>
            Connect the OpenXC Enabler to this machine's IP address, port 50001
        {% if IP != '127.0.0.1' %}
            <br>Detected IP: {{ IP }}
        {% endif %}
        <div class=metanav></div>
        {% for message in get_flashed_messages() %}
            <div class=flash>{{ message }}</div>
        {% endfor %}

        {% block body %}{% endblock %}
    </div>
</body>
</html>

