{% extends "layout.html" %}
{% block body %}

Vehicle Controls:


<br><br><form id="accelerator_form">
        <label for="accelerator">Accelerator Pedal Percentage:</label>
        <input type="number" name="accelerator"
            id="accelerator" min="0.0" max="100.0" step="1.0"
        value="{{ accelerator }}"/>
    </form>

<br><form id="brake_form">
        <label for="brake">Brake Pedal Percentage:</label>
        <input type="number" name="brake"
            id="brake" min="0.0" max="100.0" step="1.0" value="0"/>
    </form>

<br><form id="parking_brake_form">
    <label for="parking_brake_check">Parking Brake Active:</label>
    <input type="checkbox" name="parking_brake_check"
        id="parking_brake_check" />
</form>

<br><form id="ignition_form">
    <label for="ignition_radio">Ignition Status:</label>
    <div id="ignition_radio">
        <input type="radio" name="ignition_radio" id="ig_off" ><label for="ig_off">Off</label>
        <input type="radio" name="ignition_radio" id="ig_acc" ><label for="ig_acc">Accessory</label>
        <input type="radio" name="ignition_radio" id="ig_run" checked'"checked"><label for="ig_run">Run</label>
        <input type="radio" name="ignition_radio" id="ig_start" ><label for="ig_start">Start</label>
    </div>
</form>

<br><form id="gear_form">
    <label for="gear_radio">Gear Lever Position:</label>
    <div id="gear_radio">
        <input type="radio" name="gear_radio" id="gear_park" ><label for="gear_park">Park</label>
        <input type="radio" name="gear_radio" id="gear_drive" checked'"checked"><label for="gear_drive">Drive</label>
        <input type="radio" name="gear_radio" id="gear_neutral"><label for="gear_neutral">Neutral</label>
        <input type="radio" name="gear_radio" id="gear_reverse" ><label for="gear_reverse">Reverse</label>
    </div>
</form>

<br><form id="manual_form">
    <label for="manual_check">Select Shift Transmission:</label>
    <input type="checkbox" name="manual_check"
        id="manual_check" />
    <input type="button" name="upshift_button"
        id="upshift_button" value="Shift Up" />
    <input type="button" name="downshift_button"
        id="downshift_button" value="Shift Down" />
</form>

<br><form id="headlamp_form">
    <label for="headlamp_check">Headlamp Status:</label>
    <input type="checkbox" name="headlamp_check"
        id="headlamp_check" />
</form>

<br><form id="door_status">
    Door Ajar:
    <label for="driver_door_check">Driver:</label>
    <input type="checkbox" name="driver_door_check" id="driver_door_check" />
    <label for="passenger_door_check">Passenger:</label>
    <input type="checkbox" name="passenger_door_check" id="passenger_door_check" />
    <label for="right_rear_door_check">Right Rear:</label>
    <input type="checkbox" name="right_rear_door_check" id="right_rear_door_check" />
    <label for="left_rear_door_check">Left Rear:</label>
    <input type="checkbox" name="left_rear_door_check" id="left_rear_door_check" />
</form>

    <br><table>Vehicle Dynamics Data: <br>
        <tr><td></td></tr>
        <tr><td>Torque at Transmission: </td><td id="torque"></td><td>Nm</td></tr>
        <tr><td>Transmission Gear: </td><td id="gear"></td><td>Nm</td></tr>
        <tr><td>Engine Speed: </td><td id="engine_speed"></td><td>RPM</td></tr>
        <tr><td>Vehicle Speed: </td><td id="vehicle_speed"></td><td>km/hr</td></tr>
        <tr><td>Fuel Consumed Since Restart: </td><td id="fuel_consumed"></td><td>L</td></tr>
        <tr><td>Odometer: </td><td id="odometer"></td><td>km</td></tr>
        <tr><td>Fuel Level: </td><td id="fuel_level"></td><td>%</td></tr>
        <tr><td>Heading: </td><td id="heading"></td><td></td></tr>
        <tr><td>Latitude: </td><td id="latitude"></td><td></td></tr>
        <tr><td>Longitude: </td><td id="longitude"></td><td></td></tr>
    </table>

<h3>Custom Message</h3>
<form id="custom_message_form" method="POST" action="{{
        url_for('send_custom_message') }}">
    <p>
        <label for="custom_message_name">Name</label>
        <input type="text" name="custom_message_name" id="custom_message_name"
                value="{{ session['custom_message_name'] }}"/>
    </p>
    <p>
        <label for="custom_message_value">Value (only works for string values)</label>
    <input type="text" name="custom_message_value" id="custom_message_value"
                value="{{ session['custom_message_value'] }}"/>
    </p>
    <p>
    <label for="custom_message_event">Event</label>
    <input type="text" name="custom_message_event" id="custom_message_event"
                value="{{ session['custom_message_event'] }}"/>
    </p>
    <button type="submit">Send</button>
</form>

     {% if session.updates_paused %}
      <form action="{{ url_for('single') }}" method=post class=add-entry>
      <dl>
       <dd><input type=submit value="Single Update">
      </dl>
      </form>
      <form action="{{ url_for('start') }}" method=post class=add-entry>
      <dl>
       <dd><input type=submit value=Resume>
      </dl>
      </form>
       {% else %}
         <form action="{{ url_for('stop') }}" method=post class=add-entry>
      <dl>
       <dd><input type=submit value=Pause>
      </dl>
      </form>

      {% endif %}

      <h3>Received Command Data</h3>
      <pre><code>
          {% for received_message in received_messages %}
              {{ received_message }}
          {% endfor %}
      </code></pre>

{% endblock %}
